body {
  background-color: #f5f5f2;
}

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding: 20px 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 5px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  animation-duration: 0.25s;
  border-left: 8px solid orange;
  background-color: #282828;
  color: white;
}

/* menu icon */
.sidebar .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  width: 20px;
}

.sidebar .menu-icon .navicon:before,
.sidebar .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.sidebar .menu-icon .navicon:before {
  top: 5px;
}

.sidebar .menu-icon .navicon:after {
  top: -5px;
}

/* Icons */
img {
  width: 15px;
  height: 15px;
  margin: 5px;
}

.sidebar p {
  font-size: 20px;
  padding: 10px;
  color: white;
  display: inline;
  margin-right: 25px;
}

/* Top bar */
.top-bar {
  margin-left: 220px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 1px #e3e3e3 solid;
  background-color: white;
  padding-right: 0;
}

.top-bar .wallet {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  border-left: 1px #e3e3e3 solid;
  border-right: 1px #e3e3e3 solid;
  padding-left: 10px;
}

.top-bar li {
  text-decoration: none;
  display: block;
  padding: 1em;
}
.top-bar .notification {
  border-left: 1px #e3e3e3 solid;
  border-right: 1px #e3e3e3 solid;
}

.top-bar .person {
  border-right: 1px #e3e3e3 solid;
}

/* General */
.row-2 {
  position: fixed;
}
.general {
  margin-top: 30px;
  margin-left: 230px;
  background-color: white;
  border-bottom: 1px #e3e3e3 solid;
}

/* Media */
@media (min-width: 767px) and (max-width: 1204px) {
  .sidebar {
    width: 60px;
    clear: none;
    float: right;
  }
  .sidebar li a {
    padding: 20px 30px;
  }
  .sidebar ul,
  .sidebar p {
    display: none;
  }
  .sidebar .menu-icon {
    margin: 20px 15px;
  }
}
