/* Media */
@media (min-width: 767px) and (max-width: 1204px) {
  .sidebar {
    width: 60px;
    max-width: 200px;
    float: right;
  }

  .sidebar.show {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 20px 10px;
    z-index: 99;
  }
  
  aside.sidebar.show a {
    padding: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
  }

  aside.sidebar.show a:hover {
    animation-duration: 0.25s;
    border-left: 8px solid orange;
    background-color: #282828;
    color: white;
  }
  .sidebar li a {
    padding: 20px;
  }
  .sidebar ul,
  .sidebar p {
    display: none;
  }

  aside.sidebar.show ul {
    display: block;
    list-style-type: none;
    padding: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
  }

  aside.sidebar.show p {
    font-size: 20px;
    padding: 10px;
    color: white;
    display: inline;
    margin-right: 25px;
  }
  .sidebar ul.show {
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    list-style-type: none;
    padding: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
  }

  .sidebar .avatar {
    display: none;
  }
  aside.sidebar.show .avatar {
    display: block;
    img {
    width: 50px;
    height: 50px;
    }
    h4 {
      font-size: 14px;
      padding-left: 10px;
    }
  }
  
  aside.sidebar.show .avatar span {
    font-size: 13px;
    color: lightblue;
    padding-left: 13px;
  }

  .sidebar .menu-icon {
    margin: 20px 15px;
  }

  .hamburger {
    background: white;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 20px;
    top: 30px;
  }

  .general {
    margin-left: 30px;
  }
  .links {
    margin-left: 30px;
  }
}
