/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 20px 10px;
    z-index: 99;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
  }
  
  /* Style sidebar links */
.sidebar a {
    padding: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
  }
  
  /* Style links on mouse-over */
.sidebar a:hover {
    animation-duration: 0.25s;
    border-left: 8px solid orange;
    background-color: #282828;
    color: white;
  }

  .sidebar p {
    font-size: 20px;
    padding: 10px;
    color: white;
    display: inline;
    margin-right: 25px;
    font-family: $paragraph-font;
    font-size: $paragraph-font-size;
  }